/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop
$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop
ORDER: Base + typography > general layout + grid > page layout > components
1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: none;
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 56.5%; } }
  @media only screen and (max-width: 51.857em) {
    html {
      font-size: 49.5%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 43%; } }
  @media only screen and (max-width: 25em) {
    html {
      font-size: 35%; } }

body {
  line-height: 1.3;
  font-family: "Asap", sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.main-heading--primary {
  display: block;
  font-size: 7rem;
  font-weight: 500;
  color: #474747; }
  @media only screen and (max-width: 37.5em) {
    .main-heading--primary {
      font-size: 6.5rem; } }
  @media only screen and (max-width: 25em) {
    .main-heading--primary {
      font-size: 5.7rem; } }

.main-heading--sub {
  display: block;
  font-size: 2.4rem;
  font-weight: 300;
  color: #848484; }

.secondary-heading {
  font-size: 5rem;
  color: #6b6b6b; }
  .secondary-heading--primary {
    display: block; }
  .secondary-heading--sub {
    display: block; }

.proffesional-info {
  font-size: 1.7rem;
  color: #848484;
  line-height: 3rem; }

.personal-info {
  font-size: 1.7rem;
  color: #848484;
  line-height: 3rem;
  margin-top: 2rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-small {
  margin-bottom: 2rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-left-small {
  margin-left: 1.2rem; }

.u-margin-top-small {
  margin-top: 2rem; }

.u-margin-top-medium {
  margin-top: 4rem; }

.u-margin-top-large {
  margin-top: 6rem; }
  @media only screen and (max-width: 51.857em) {
    .u-margin-top-large {
      margin-top: 4rem; } }

.u-padding-top-large {
  padding-top: 6rem; }

.container {
  margin: 0 auto;
  overflow: hidden;
  width: 90%; }

.btn {
  display: inline-block;
  text-decoration: none;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #474747; }
  .btn--transparent {
    border: 1px solid #212121; }
  .btn--white {
    background-color: #fff;
    -webkit-box-shadow: 0rem 0.5rem 4rem rgba(0, 0, 0, 0.3);
    box-shadow: 0rem 0.5rem 4rem rgba(0, 0, 0, 0.3);
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s; }
    .btn--white:hover {
      -webkit-box-shadow: 0.5rem 1rem 6rem rgba(0, 0, 0, 0.3);
      box-shadow: 0.5rem 1rem 6rem rgba(0, 0, 0, 0.3); }

header {
  background: -webkit-repeating-linear-gradient(160deg, #e9e9e9, #e9e9e9 50%, #e6e6e6 50%, #e6e6e6 100%);
  background: -o-repeating-linear-gradient(160deg, #e9e9e9, #e9e9e9 50%, #e6e6e6 50%, #e6e6e6 100%);
  background: repeating-linear-gradient(-70deg, #e9e9e9, #e9e9e9 50%, #e6e6e6 50%, #e6e6e6 100%);
  height: 100vh;
  position: relative; }
  header .header-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    @media only screen and (max-width: 51.857em) {
      header .header-container {
        display: block;
        position: relative; } }
  header .header__hero-image {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    background: url("../img/hero-img-1.png");
    height: 100vh;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    -webkit-transition: all 2s;
    -o-transition: all 2s;
    transition: all 2s; }
    @media only screen and (max-width: 51.857em) {
      header .header__hero-image {
        height: 0;
        display: none; } }
  header .header__text-box {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    white-space: nowrap;
    -webkit-transform: translateX(5rem);
    -ms-transform: translateX(5rem);
    transform: translateX(5rem); }
    @media only screen and (max-width: 51.857em) {
      header .header__text-box {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center; } }

.logo {
  display: block;
  position: absolute;
  top: 4rem;
  left: 4rem;
  height: 11rem;
  width: 13rem; }
  @media only screen and (max-width: 37.5em) {
    .logo {
      top: 3rem;
      right: 3rem; } }
  @media only screen and (max-width: 25em) {
    .logo {
      top: 2.5rem;
      right: 2.5rem; } }

#about {
  min-height: 100vh; }
  @media only screen and (max-width: 75em) {
    #about {
      min-height: 80vh;
      margin-bottom: 4rem; } }
  @media only screen and (max-width: 56.25em) {
    #about {
      min-height: 75vh;
      margin-bottom: 4rem; } }
  @media only screen and (max-width: 51.857em) {
    #about {
      min-height: 70vh;
      margin-bottom: 4rem; } }
  @media only screen and (max-width: 37.5em) {
    #about {
      min-height: 65vh;
      margin-bottom: 4rem; } }
  @media only screen and (max-width: 25em) {
    #about {
      min-height: 60vh;
      margin-bottom: 4rem; } }

.about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 1rem; }
  @media only screen and (max-width: 51.857em) {
    .about-container {
      display: block; } }

.about-image {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: url("https://images.pexels.com/photos/91227/pexels-photo-91227.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  height: 50rem;
  margin-right: 6rem;
  -webkit-clip-path: circle(40% at 50% 50%);
  clip-path: circle(40% at 50% 50%); }
  @media only screen and (max-width: 51.857em) {
    .about-image {
      margin-right: 0;
      -webkit-clip-path: circle(30% at 50% 50%);
      clip-path: circle(30% at 50% 50%);
      height: 45rem; } }
  @media only screen and (max-width: 37.5em) {
    .about-image {
      height: 35rem; } }

.sec-head-cont {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  -ms-flex-item-align: start;
  align-self: flex-start;
  margin-right: 6rem; }
  .sec-head-cont::before {
    content: "";
    display: inline-block;
    width: 5rem;
    height: 3px;
    background: #6b6b6b; }
  @media only screen and (max-width: 51.857em) {
    .sec-head-cont {
      margin-right: 0; } }

.navigation__checkbox {
  display: none; }

.navigation__button {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  position: fixed;
  top: 3.5rem;
  right: 4.5rem;
  z-index: 2000;
  background-color: white;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  text-align: center; }
  @media only screen and (max-width: 37.5em) {
    .navigation__button {
      top: 3rem;
      right: 3rem; } }
  @media only screen and (max-width: 25em) {
    .navigation__button {
      top: 2.5rem;
      right: 2.5rem; } }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 4rem;
  right: 5rem;
  background-image: -webkit-radial-gradient(#e9e9e9, gray);
  background-image: -o-radial-gradient(#e9e9e9, gray);
  background-image: radial-gradient(#e9e9e9, gray);
  z-index: 1000;
  -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  -o-transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
  @media only screen and (max-width: 37.5em) {
    .navigation__background {
      top: 3.5rem;
      right: 3.5rem; } }
  @media only screen and (max-width: 25em) {
    .navigation__background {
      top: 3rem;
      right: 3rem; } }

.navigation__nav {
  height: 100vh;
  width: 0%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  -webkit-transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  overflow: hidden; }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center; }

.navigation__item {
  list-style: none;
  margin: 1rem; }

.navigation__link span {
  margin-right: 1.5rem; }

.navigation__link:link, .navigation__link:visited {
  font-size: 3rem;
  font-weight: 300;
  display: inline-block;
  padding: 1rem 2rem;
  color: #848484;
  text-decoration: none;
  text-transform: uppercase;
  background-image: -webkit-linear-gradient(330deg, transparent 0%, transparent 50%, #fff 50%);
  background-image: -o-linear-gradient(330deg, transparent 0%, transparent 50%, #fff 50%);
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 220%;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  -webkit-transform: translateX(1rem);
  -ms-transform: translateX(1rem);
  transform: translateX(1rem);
  color: #848484; }

.navigation__checkbox:checked ~ .navigation__background {
  -webkit-transform: scale(80);
  -ms-transform: scale(80);
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.navigation__icon {
  position: relative;
  margin-top: 3.5rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 3px;
    background-color: #848484;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s; }
  .navigation__icon::before {
    top: -0.8rem; }
  .navigation__icon::after {
    top: 0.8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg); }

.skills {
  min-height: 100vh;
  background: #e6e6e6;
  text-align: center; }
  @media only screen and (max-width: 75em) {
    .skills {
      min-height: 80vh; } }
  @media only screen and (max-width: 56.25em) {
    .skills {
      min-height: 75vh; } }
  @media only screen and (max-width: 51.857em) {
    .skills {
      min-height: 70vh; } }
  @media only screen and (max-width: 37.5em) {
    .skills {
      min-height: 65vh; } }
  @media only screen and (max-width: 25em) {
    .skills {
      min-height: 60vh; } }
  .skills::before {
    content: "";
    display: inline-block;
    width: 5rem;
    height: 3px;
    background: #6b6b6b; }
  .skills__heading {
    font-size: 5rem;
    color: #6b6b6b;
    font-weight: 700; }

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .flex-container div {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -ms-flex-preferred-size: 30%;
    flex-basis: 30%;
    margin: 1rem;
    height: 200px; }
    .flex-container div span {
      font-size: 100px;
      color: #515151; }

.portfolio {
  background: #fff;
  text-align: center; }
  .portfolio::before {
    content: "";
    display: inline-block;
    width: 5rem;
    height: 3px;
    background: #6b6b6b;
    margin-top: 8rem; }
  .portfolio__heading {
    font-size: 5rem;
    color: #6b6b6b;
    font-weight: 700; }

.flex-container-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 4rem; }

.flex-item {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -ms-flex-preferred-size: 40%;
  flex-basis: 40%;
  margin-bottom: 3rem;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  overflow: hidden; }
  .flex-item span {
    display: block;
    width: 85%;
    margin: auto;
    text-align: center; }
  .flex-item .flex-link {
    display: inline-block;
    width: 90%;
    height: 90%; }
    .flex-item .flex-link::after {
      content: "";
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      height: 100%;
      width: 100%;
      opacity: 0;
      background-color: #fff;
      -webkit-transition: all 0.8s;
      -o-transition: all 0.8s;
      transition: all 0.8s; }

.flex-image {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-box-shadow: 0.5rem 1rem 1rem rgba(0, 0, 0, 0.4);
  box-shadow: 0.5rem 1rem 1rem rgba(0, 0, 0, 0.4);
  -o-object-fit: cover;
  object-fit: cover; }

.image-text {
  font-size: 2rem;
  color: #474747;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: opacity 0.8s;
  -o-transition: opacity 0.8s;
  transition: opacity 0.8s;
  z-index: -8000; }
  .image-text h2 {
    margin-bottom: 1rem; }

.flex-item:hover .image-text {
  z-index: 10;
  opacity: 1; }

.flex-item:hover .flex-image {
  -webkit-box-shadow: 1rem 1.5rem 2rem rgba(0, 0, 0, 0.4);
  box-shadow: 1rem 1.5rem 2rem rgba(0, 0, 0, 0.4); }

.flex-item:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  z-index: 800; }

.flex-item:hover a::after {
  opacity: 1; }

.contact {
  position: relative;
  height: 100vh;
  overflow: hidden; }
  .contact::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: -8; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10; }
  .bg-video__content {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover; }

.contact-form {
  position: absolute;
  top: 35%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  width: 60rem; }
  @media only screen and (max-width: 25em) {
    .contact-form {
      width: 50rem; } }
  .contact-form__heading {
    font-size: 5rem;
    color: #fff;
    font-weight: 700; }
  .contact-form__details {
    color: #474747;
    font-size: 3rem; }
    .contact-form__details input {
      display: inline-block; }
      .contact-form__details input::-webkit-input-placeholder {
        font-size: 1.5rem; }
    .contact-form__details #name,
    .contact-form__details #email {
      margin-bottom: 2rem;
      height: 4rem;
      padding: 0 0 0 5px;
      width: 49%;
      -webkit-box-shadow: 0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.4) inset;
      box-shadow: 0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.4) inset;
      border-radius: 3px; }
    .contact-form__details #message {
      font-family: Arial, Helvetica, sans-serif;
      display: block;
      width: 100%;
      padding-left: 5px;
      padding-top: 5px;
      font-size: 1.5rem;
      -webkit-box-shadow: 0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.4) inset;
      box-shadow: 0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.4) inset;
      border-radius: 3px; }
