*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: none;
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  line-height: 1.3;
  font-family: "Asap", sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.main-heading--primary {
  display: block;
  font-size: 7rem;
  font-weight: 500;
  color: #474747; }

.main-heading--sub {
  display: block;
  font-size: 2.4rem;
  font-weight: 300;
  color: #848484; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-small {
  margin-bottom: 2rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-left-small {
  margin-left: 1.2rem; }

.container {
  margin: 0 auto;
  overflow: hidden;
  width: 85%; }

.btn {
  display: inline-block;
  text-decoration: none;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: #474747; }
  .btn--transparent {
    border: 1px solid #212121; }
  .btn--white {
    background-color: #fff;
    -webkit-box-shadow: 0rem 0.5rem 4rem rgba(0, 0, 0, 0.3);
    box-shadow: 0rem 0.5rem 4rem rgba(0, 0, 0, 0.3);
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s; }
    .btn--white:hover {
      -webkit-box-shadow: 0.5rem 1rem 6rem rgba(0, 0, 0, 0.3);
      box-shadow: 0.5rem 1rem 6rem rgba(0, 0, 0, 0.3); }

header {
  background: -webkit-repeating-linear-gradient(200deg, #e9e9e9, #e9e9e9 50%, #e6e6e6 50%, #e6e6e6 100%);
  background: -o-repeating-linear-gradient(200deg, #e9e9e9, #e9e9e9 50%, #e6e6e6 50%, #e6e6e6 100%);
  background: repeating-linear-gradient(-110deg, #e9e9e9, #e9e9e9 50%, #e6e6e6 50%, #e6e6e6 100%);
  height: 100vh; }
  header .header__hero-image {
    background: url("../img/hero-img-1.jpeg");
    height: 40rem;
    width: 30rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
  header .header__text-box {
    position: absolute;
    top: 30%;
    left: 1.5rem;
    white-space: nowrap; }

.header-container {
  position: relative;
  height: 100%; }
