.btn {
  display: inline-block;
  text-decoration: none;
  padding: 1rem 3rem;

  font-size: 1.7rem;
  color: $color-dark-2;
  &--transparent {
    border: 1px solid $color-dark-3;
  }
  &--white {
    background-color: $color-white;
    box-shadow: 0rem 0.5rem 4rem rgba(#000, 0.3);
    transition: all 0.2s;
    &:hover {
      box-shadow: 0.5rem 1rem 6rem rgba(#000, 0.3);
    }
  }
}
