.main-heading {
  &--primary {
    display: block;
    font-size: 7rem;
    font-weight: 500;
    color: $color-dark-2;
  }
  &--sub {
    display: block;
    font-size: 2.4rem;
    font-weight: 300;
    color: $color-dark-1;
  }
}

.secondary-heading {
  font-size: 5rem;
  color: darken($color-dark-1, 10);
  &--primary {
    display: block;
  }
  &--sub {
    display: block;
  }
}

.proffesional-info {
  font-size: 1.7rem;
  color: $color-dark-1;
  line-height: 3rem;
}
.personal-info {
  font-size: 1.7rem;
  color: $color-dark-1;
  line-height: 3rem;
  margin-top: 2rem;
}
